  <form class="container-half" name="celena-contact" data-netlify="true">
    <h2>Contact us to learn more.</h2>
    <div class="columns-1">
      <label><span>Full name</span><input type="text" placeholder="Full name" name="name" /></label>
    </div>
    <div class="gap"></div>
    <div class="columns-1">
      <label><span>Company name</span><input type="text" placeholder="Company name" name="company" /></label>
    </div>
    <div class="gap"></div>
    <div class="columns-1">
      <label><span>Email</span><input type="email" placeholder="email@domain.com" name="email" /></label>
    </div>
    <div class="gap"></div>
    <div class="form-footer">
      <p>By submitting your email, you agree to receive marketing emails from us.</p>
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
