<a class="banner__cta" href="#">
  <img src="/images/cohort-mark.svg" alt="" height="36" width="36">
  <span>Read about the launch of our first Ventures for Shared Prosperity cohort in Fast Company!</span>
  <span class="btn__arrow">{% include "../../images/graphic-arrow-btn.svg" %}</span>
</a>
