<div class="banner-container">
  <a class="banner__cta" target="blank" href="/ventures-for-shared-prosperity">
    <span>Applications for our second <strong>Ventures for Shared Prosperity</strong> cohort open <strong>September 13, 2021</strong></span>
    <span class="btn__arrow">{% include "../../images/graphic-arrow-btn.svg" %}</span>
  </a>
</div>
