<figure class="timeline">
  <div class="timeline__contents">
    <div class="timeline__months">
      <time datetime="2021-09" class="timeline__month"><strong>Sep 2021</strong></time>
      <time datetime="2021-10" class="timeline__month"><strong>Oct</strong></time>
      <time datetime="2021-11" class="timeline__month"><strong>Nov</strong></time>
      <time datetime="2021-12" class="timeline__month"><strong>Dec</strong></time>
      <time datetime="2022-01" class="timeline__month"><strong>Jan 2022</strong></time>
      <time datetime="2022-02" class="timeline__month"><strong>Feb</strong></time>
    </div>
    <div class="timeline__dates">
      <time datetime="2021-09-13" class="timeline__date">13th</time>
      <time datetime="2021-10-10" class="timeline__date date--session">10th</time>
      <time datetime="2021-10-15" class="timeline__date date--session">15th</time>
      <time datetime="2021-10-10" class="timeline__date">10th</time>

      <time datetime="2021-10-29" class="timeline__date">29th</time>
      <time datetime="2021-11-15" class="timeline__date">15th</time>

      <time datetime="2021-12-06" class="timeline__date">6th</time>
      <time datetime="2021-12-15" class="timeline__date">15th</time>

      <time datetime="2022-01-03" class="timeline__date">3rd</time>
      <time datetime="2022-01-07" class="timeline__date">7th</time>

      <time datetime="2022-01-14" class="timeline__date"></time>

      <time datetime="2022-02-22" class="timeline__date"></time>
    </div>

    <div class="timeline__ranges" aria-hidden="true">
      <span class="timeline__range"></span>
      <span class="timeline__range"></span>
      <span class="timeline__range"></span>
      <span class="timeline__range"></span>
      <span class="timeline__marker"></span>
      <span class="timeline__marker"></span>
    </div>

    <ul class="timeline__events">
      <li class="timeline__event timeline__event--current">
        <strong><mark>Applications</mark></strong>
        Sep 13 - Oct 10
      </li>

      <li class="timeline__event">
        <strong>Case Studies</strong>
        Oct 29 - Nov 15
      </li>

      <li class="timeline__event">
        <strong>Interviews round 1</strong>
        Dec 6 - Dec 15
      </li>

      <li class="timeline__event">
        <strong>Interviews round 2</strong>
        Jan 3 - Jan 7
      </li>

      <li class="timeline__event">
        <strong>Offers</strong>
        Late Jan
      </li>
      <li class="timeline__event">
        <strong>Cohort Start</strong>
        Mid Feb
      </li>
    </ul>
  </div>
  <figcaption class="timeline__caption font-size-2 g-max-3">
    <p>
      We recorded two Q&A sessions where we shared more about our process, motivation, and what we provide.
    {% for session in qaSessions %}
      <a href="{% if session.past %}{{ session.videoUrl }}{% else %}{{ session.url }}{% endif %}" target="_blank" rel="noopener">
        Session {{ loop.index }}:
        <time datetime="{{ session.datetime }}">
          {% dateFormat session.datetime, "LLL d yyyy" %}
        </time>
      </a>&nbsp;
    {% endfor %}
    </p>
  </figcaption>
</figure>
